[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
backtrader = {editable = true, ref = "master", git = "https://github.com/mementum//backtrader.git"}
matplotlib = "*"
backtrader-plotting = "*"

[dev-packages]
jupyter = "*"
jupyterthemes = "*"

[requires]
python_version = "3.8"
